h1{
    margin: 0;
    font-size: 20px;
}
a{
    color: rgb(7, 132, 195);
    font-weight: 500;
    text-decoration: none !important;
}
p{
    margin-bottom: 0;
    font-size: 14px;
    color: #6c757d;
}
.container{
    max-width: 1400px;
}

/* ----------------------  Addblock ---------------------- */

.headerBlock{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #e9ecef;
}
.sponsored{
    padding-top: 12px;
    padding-bottom: 12px; 
}

/* ----------------------  blockContent ---------------------- */

.blockContent{
    width:25%;
}
.blockContent:hover .hoverContent {
    color:#0784c3;
}
.mainHead{
    text-transform: uppercase;
    color: #6c757d;
    font-size: 12px !important;
    letter-spacing: .5px !important;
    margin-bottom: 1px !important;
    display: flex;
    justify-content: space-between;
}
.mainHead i{
    opacity: 0; 
    color: #6c757d;
}
.mainHead i > svg{
    font-size: 15px;
}
.blockContent:hover .mainHead i{
    opacity:1;
}
.mainContent{
    display: flex;
    margin-bottom: 16px;
    gap: 18px;
}
.contentCard{
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%) !important;
    padding: 16px;
    border: 1px solid #e9ecef;
    border-radius: 10px !important;
}
@media (max-width: 768px){
    .mainContent{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    }
    .blockContent{
        width:48.5%;
    }
}
@media (max-width: 600px){
    .blockContent{
        width:100%;
    }
}

/* ----------------------  Newblock ---------------------- */

.blockCard{
    box-shadow: 0 0.5rem 1.2rem rgb(189 197 209 / 20%);
    border: 1px solid #e9ecef;
    border-radius: 5px;
    background-color: #fff;
}

.tableHead{
    color:black;
    font-weight: 600 !important;
}
.lightIcon > svg{
    font-size: 16px;
    margin-right: 4px;
}
